/*! normalize.scss v0.1.0 | MIT License | based on git.io/normalize */
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling
 *    user zoom.
 */
html {
  font-family: sans-serif;
  /* 1 */
  -ms-text-size-adjust: 100%;
  /* 2 */
  -webkit-text-size-adjust: 100%;
  /* 2 */ }

/**
 * Remove default margin.
 */
body {
  margin: 0; }

/* HTML5 display definitions
   ========================================================================== */
/**
 * Correct `block` display not defined for any HTML5 element in IE 8/9.
 * Correct `block` display not defined for `details` or `summary` in IE 10/11
 * and Firefox.
 * Correct `block` display not defined for `main` in IE 11.
 */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block; }

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block;
  /* 1 */
  vertical-align: baseline;
  /* 2 */ }

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0; }

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none; }

/* Links
   ========================================================================== */
/**
 * Remove the gray background color from active links in IE 10.
 */
a {
  background-color: transparent; }

/**
 * Improve readability when focused and also mouse hovered in all browsers.
 */
a:active,
a:hover {
  outline: 0; }

/* Text-level semantics
   ========================================================================== */
/**
 * Address styling not present in IE 8/9/10/11, Safari, and Chrome.
 */
abbr[title] {
  border-bottom: 1px dotted; }

/**
 * Address style set to `bolder` in Firefox 4+, Safari, and Chrome.
 */
b,
strong {
  font-weight: bold; }

/**
 * Address styling not present in Safari and Chrome.
 */
dfn {
  font-style: italic; }

/**
 * Address variable `h1` font-size and margin within `section` and `article`
 * contexts in Firefox 4+, Safari, and Chrome.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0; }

/**
 * Address styling not present in IE 8/9.
 */
mark {
  background: #ff0;
  color: #000; }

/**
 * Address inconsistent and variable font size in all browsers.
 */
small {
  font-size: 80%; }

/**
 * Prevent `sub` and `sup` affecting `line-height` in all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

/* Embedded content
   ========================================================================== */
/**
 * Remove border when inside `a` element in IE 8/9/10.
 */
img {
  border: 0; }

/**
 * Correct overflow not hidden in IE 9/10/11.
 */
svg:not(:root) {
  overflow: hidden; }

/* Grouping content
   ========================================================================== */
/**
 * Address margin not present in IE 8/9 and Safari.
 */
figure {
  margin: 1em 40px; }

/**
 * Address differences between Firefox and other browsers.
 */
hr {
  box-sizing: content-box;
  height: 0; }

/**
 * Contain overflow in all browsers.
 */
pre {
  overflow: auto; }

/**
 * Address odd `em`-unit font size rendering in all browsers.
 */
code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

/* Forms
   ========================================================================== */
/**
 * Known limitation: by default, Chrome and Safari on OS X allow very limited
 * styling of `select`, unless a `border` property is set.
 */
/**
 * 1. Correct color not being inherited.
 *    Known issue: affects color of disabled elements.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit;
  /* 1 */
  font: inherit;
  /* 2 */
  margin: 0;
  /* 3 */ }

/**
 * Address `overflow` set to `hidden` in IE 8/9/10/11.
 */
button {
  overflow: visible; }

/**
 * Address inconsistent `text-transform` inheritance for `button` and `select`.
 * All other form control elements do not inherit `text-transform` values.
 * Correct `button` style inheritance in Firefox, IE 8/9/10/11, and Opera.
 * Correct `select` style inheritance in Firefox.
 */
button,
select {
  text-transform: none; }

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  /* 2 */
  cursor: pointer;
  /* 3 */ }

/**
 * Re-set default cursor for disabled elements.
 */
button[disabled],
html input[disabled] {
  cursor: default; }

/**
 * Remove inner padding and border in Firefox 4+.
 */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal; }

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Fix the cursor style for Chrome's increment/decrement buttons. For certain
 * `font-size` values of the `input`, it causes the cursor style of the
 * decrement button to change from `default` to `text`.
 */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

/**
 * 1. Address `appearance` set to `searchfield` in Safari and Chrome.
 * 2. Address `box-sizing` set to `border-box` in Safari and Chrome
 *    (include `-moz` to future-proof).
 */
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  /* 2 */
  box-sizing: content-box; }

/**
 * Remove inner padding and search cancel button in Safari and Chrome on OS X.
 * Safari (but not Chrome) clips the cancel button when the search input has
 * padding (and `textfield` appearance).
 */
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

/**
 * Define consistent border, margin, and padding.
 */
fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

/**
 * 1. Correct `color` not being inherited in IE 8/9/10/11.
 * 2. Remove padding so people aren't caught out if they zero out fieldsets.
 */
legend {
  border: 0;
  /* 1 */
  padding: 0;
  /* 2 */ }

/**
 * Remove default vertical scrollbar in IE 8/9/10/11.
 */
textarea {
  overflow: auto; }

/**
 * Don't inherit the `font-weight` (applied by a rule above).
 * NOTE: the default cannot safely be changed in Chrome and Safari on OS X.
 */
optgroup {
  font-weight: bold; }

/* Tables
   ========================================================================== */
/**
 * Remove most spacing between table cells.
 */
table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Thin-webfont.woff") format("woff");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Light-webfont.woff") format("woff");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-LightItalic-webfont.woff") format("woff");
  font-weight: 300;
  font-style: italic; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Regular-webfont.woff") format("woff");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Medium-webfont.woff") format("woff");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/Roboto-Bold-webfont.woff") format("woff");
  font-weight: 700;
  font-style: normal; }

*, ::before, ::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0; }

body {
  font-family: 'Roboto', sans-serif;
  font-weight: 4000;
  font-style: normal;
  background-color: #4a627f; }

.visually-hidden {
  display: none; }

.icon_search {
  width: 16px;
  height: 16px; }

.icon_facebook {
  width: 8px;
  height: 17px; }

.icon_facebook_big {
  width: 20px;
  height: 42px; }

.icon_twitter {
  width: 16px;
  height: 13px; }

.icon_twitter_big {
  width: 42px;
  height: 34px; }

.icon_google-plus {
  width: 16px;
  height: 16px; }

.icon_rss {
  width: 16px;
  height: 16px; }

.icon_pinterest {
  width: 13px;
  height: 17px; }

.icon_linkedin {
  width: 15px;
  height: 16px; }

.icon_login {
  width: 16px;
  height: 16px; }

.icon_follow {
  width: 24px;
  height: 24px; }

.icon_home {
  width: 25px;
  height: 22px; }

.icon_shop {
  width: 22px;
  height: 22px; }

.icon_note {
  width: 23px;
  height: 23px; }

.icon_users {
  width: 26px;
  height: 16px; }

.icon_trophy {
  width: 26px;
  height: 22px; }

.icon_info {
  width: 24px;
  height: 24px; }

.icon_email {
  width: 24px;
  height: 16px; }

.icon_phone {
  width: 24px;
  height: 24px; }

.icon_pointer {
  width: 18px;
  height: 24px; }

.icon_arrow {
  width: 20px;
  height: 20px;
  fill-rule: evenodd; }

.icon_arrow_big {
  width: 34px;
  height: 34px;
  fill-rule: evenodd; }

.icon_video {
  width: 20px;
  height: 13px; }

.icon_photo {
  width: 19px;
  height: 14px; }

.icon_heart {
  width: 32px;
  height: 30px; }

.icon_clock {
  width: 32px;
  height: 32px; }

.icon_share {
  width: 32px;
  height: 29px; }

.icon_share_small {
  width: 18px;
  height: 16px; }

.icon_views {
  width: 24px;
  height: 14px; }

.icon_comments {
  width: 16px;
  height: 15px; }

.icon_quote {
  width: 17px;
  height: 16px; }

.icon_article {
  width: 13px;
  height: 17px;
  fill-rule: evenodd; }

.page-header {
  width: 928px;
  margin: 0 auto;
  display: -ms-flexbox;
  display: flex;
  margin-top: 105px;
  background-color: #fff;
  min-height: 60px;
  margin-bottom: 14px; }

.page-main {
  width: 928px;
  margin: 0 auto;
  min-height: 50px;
  margin-bottom: 105px; }

.burger-btn {
  position: relative;
  display: block;
  width: 60px;
  height: 60px;
  background-color: #56ccc8;
  cursor: pointer; }
  .burger-btn::before {
    position: absolute;
    content: '';
    width: 22px;
    height: 3px;
    left: 19px;
    top: 22px;
    border-radius: 1px;
    background-color: #fff;
    box-shadow: 0 7px 0 #fff; }
  .burger-btn::after {
    position: absolute;
    content: '';
    width: 22px;
    height: 3px;
    left: 19px;
    top: 36px;
    border-radius: 1px;
    background-color: #fff; }

.main-nav {
  margin-left: 20px; }

.main-nav__list {
  list-style: none;
  margin: auto;
  padding: 0;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  width: 470px;
  height: 60px;
  font-size: 16px;
  line-height: 18px; }

.main-nav__item {
  display: block; }

.main-nav__link {
  line-height: 60px;
  font-style: normal;
  text-decoration: none;
  color: #475055;
  transition: 0.2s; }
  .main-nav__link:hover {
    color: #56ccc8; }
  .main-nav__link:active {
    opacity: 0.3; }

.user-block {
  display: -ms-flexbox;
  display: flex;
  max-width: 300px;
  height: 60px;
  margin-left: auto; }

.column {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 928px; }
  .column_2 {
    width: 457px; }
  .column_3 {
    width: 300px; }
  .column_3-2 {
    width: 614px; }
  .column_4 {
    width: 221px; }

.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  margin-bottom: 14px; }
  .row:last-of-type {
    margin-bottom: 0px; }

.main-menu {
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  height: 673px; }

.main-menu__column {
  width: 100%;
  background-color: #fff; }

.main-menu__list {
  list-style: none;
  margin: auto;
  padding: 0; }

.main-menu__link {
  display: block;
  height: 61px;
  line-height: 60px;
  padding-left: 18px;
  font-size: 16px;
  text-decoration: none;
  border-bottom: 1px solid #e1e5e7;
  color: #475055;
  fill: #c5cdd1;
  transition: 0.3s; }
  .main-menu__link:hover {
    color: #fff;
    background-color: #56ccc8;
    fill: #fff; }

.main-menu__icon {
  margin-right: 22px; }

.contacts {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: justify;
      justify-content: space-between;
  padding-top: 30px;
  padding-bottom: 25px;
  width: 100%;
  height: 246px;
  color: #fff;
  fill: #fff;
  background-color: #c5cdd1; }

.contacts__item {
  display: -ms-flexbox;
  display: flex; }

.contacts__icon {
  width: 65px;
  text-align: center; }

.contacts__link {
  display: block;
  color: #fff;
  text-decoration: none; }

.submenu {
  list-style: none;
  margin: auto;
  padding: 0;
  transition: 0.3s;
  overflow: hidden; }
  .submenu_1 {
    width: 228px;
    font-size: 16px;
    background-color: #152840; }
  .submenu_visible {
    transform-origin: right;
    width: 228px; }
  .submenu_invisible {
    transform-origin: right;
    width: 0px; }

.submenu__item {
  transition: 0.3s; }
  .submenu__item_1 {
    padding-left: 32px;
    padding-right: 20px;
    padding-top: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid #445e78;
    background-color: #152840; }
    .submenu__item_1:last-of-type {
      border: none; }
    .submenu__item_1:hover {
      background-color: #263a54; }

.submenu__link_1 {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  vertical-align: middle;
  height: 40px;
  line-height: 40px;
  text-decoration: none;
  color: #56ccc8;
  fill: #56ccc8; }

.submenu__link_2 {
  display: block;
  height: 30px;
  line-height: 30px;
  text-decoration: none;
  color: #fff; }

.submenu__icon {
  margin-left: auto;
  line-height: 40px;
  vertical-align: middle; }

.social-block {
  width: 100%;
  height: 314px;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 28px;
  padding-right: 28px;
  background-color: #fff; }

.social-block__link {
  display: block;
  font-size: 16px;
  text-decoration: none;
  margin-bottom: 24px;
  color: #475055;
  fill: #fff;
  transition: 0.3s; }
  .social-block__link_facebook:hover {
    color: #4d6baa; }
    .social-block__link_facebook:hover .social-block__icon {
      background-color: #4d6baa; }
  .social-block__link_twitter:hover {
    color: #4fc6f8; }
    .social-block__link_twitter:hover .social-block__icon {
      background-color: #4fc6f8; }
  .social-block__link_google-plus:hover {
    color: #d85233; }
    .social-block__link_google-plus:hover .social-block__icon {
      background-color: #d85233; }
  .social-block__link_rss:hover {
    color: #ff7010; }
    .social-block__link_rss:hover .social-block__icon {
      background-color: #ff7010; }
  .social-block__link_pinterest:hover {
    color: #bd081c; }
    .social-block__link_pinterest:hover .social-block__icon {
      background-color: #bd081c; }
  .social-block__link:active {
    opacity: 0.5; }
    .social-block__link:active .social-block__icon {
      opacity: 0.5; }

.social-block__icon {
  display: inline-block;
  width: 32px;
  height: 32px;
  line-height: 32px;
  margin-right: 20px;
  vertical-align: middle;
  text-align: center;
  border-radius: 50%;
  background-color: #c5cdd1;
  transition: 0.3s; }

.facebook-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  height: 150px;
  padding-top: 24px;
  padding-left: 22px;
  padding-right: 16px;
  padding-bottom: 15px;
  background-color: #4d6baa;
  color: #fff;
  font-size: 16px; }

.facebook-block__icon {
  margin-left: 6px;
  fill: #fff; }

.facebook-block__follow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: auto;
  height: 24px; }

.facebook-block__follow-btn {
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: auto;
  color: #fff;
  fill: #fff; }

.facebook-block__icon-follow {
  margin-left: 12px;
  height: 24px; }

.twitter-block {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 100%;
  height: 150px;
  padding-top: 24px;
  padding-left: 22px;
  padding-right: 16px;
  padding-bottom: 17px;
  background-color: #4fc6f8;
  color: #fff;
  font-size: 16px; }

.twitter-block__icon {
  margin-left: 6px;
  fill: #fff; }

.twitter-block__follow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-top: auto;
  height: 24px; }

.twitter-block__follow-btn {
  text-decoration: none;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-left: auto;
  color: #fff;
  fill: #fff; }

.twitter-block__icon-follow {
  margin-left: 12px;
  height: 24px; }

.sign-in-block {
  width: 100%;
  height: 165px;
  padding: 25px;
  background-color: #fff; }

.sign-in-block__title {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px; }

.sign-in-block__text {
  font-size: 14px;
  text-align: center;
  padding-bottom: 25px; }

.sign-in-block__btns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center; }

.sign-in-block__btn {
  margin-left: 11px;
  margin-right: 11px;
  width: 32px;
  height: 32px;
  line-height: 32px;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  fill: #fff;
  transition: 0.3s; }
  .sign-in-block__btn_facebook {
    background-color: #4d6baa; }
    .sign-in-block__btn_facebook:hover {
      background-color: #354a75; }
  .sign-in-block__btn_twitter {
    background-color: #4fc6f8; }
    .sign-in-block__btn_twitter:hover {
      background-color: #0aacf1; }
  .sign-in-block__btn_google-plus {
    background-color: #ea6060; }
    .sign-in-block__btn_google-plus:hover {
      background-color: #e01e1e; }
  .sign-in-block__btn_linkedin {
    background-color: #238cc8; }
    .sign-in-block__btn_linkedin:hover {
      background-color: #185e87; }
  .sign-in-block__btn:active {
    opacity: 0.6; }

.newsletter-block {
  width: 100%;
  height: 165px;
  padding: 25px;
  background-color: #fff; }

.newsletter-block__title {
  font-size: 22px;
  font-weight: 400;
  text-align: center;
  margin-bottom: 10px; }

.newsletter-block__text {
  font-size: 14px;
  text-align: center;
  padding-bottom: 20px; }

.newsletter-block__form {
  display: -ms-flexbox;
  display: flex;
  height: 39px; }

.newsletter-block__input {
  -ms-flex-positive: 1;
      flex-grow: 1;
  margin-right: 14px;
  padding-left: 18px;
  padding-right: 18px;
  font-size: 16px;
  font-weight: 300;
  border: 1px solid #dde2e4;
  border-radius: 2px; }

.newsletter-block__btn {
  width: 97px;
  font-size: 15px;
  font-weight: 500;
  text-transform: uppercase;
  color: #fff;
  background-color: #ea6060;
  border: none;
  border-radius: 3px;
  outline: none;
  transition: 0.3s; }
  .newsletter-block__btn:hover {
    box-shadow: 0 3px 10px 0 rgba(255, 255, 255, 0.3) inset; }
  .newsletter-block__btn:active {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3) inset; }

.slider-block {
  position: relative;
  width: 100%;
  height: 450px;
  overflow: hidden; }

.slide-block__radio {
  display: none; }

.slider-block__list {
  display: -ms-flexbox;
  display: flex;
  transition: 0.3s; }

.slider-block__slide {
  width: 100%;
  height: 450px;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 60px;
  padding-top: 45px;
  padding-right: 60px;
  padding-bottom: 45px;
  color: #fff;
  background-color: #787878; }

.slider-block__title {
  font-size: 46px;
  font-weight: 300;
  margin-bottom: 30px; }

.slide-block__text {
  width: 360px;
  font-size: 14px;
  font-weight: 100;
  margin-bottom: 30px; }

.slide-block__btn {
  display: block;
  width: 172px;
  height: 52px;
  line-height: 50px;
  font-size: 16px;
  font-weight: 500;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 5px; }

.slider-block__toggles {
  position: absolute;
  bottom: 25px;
  left: 50%;
  transform: translate(-50%);
  display: -ms-flexbox;
  display: flex; }

.slider-block__toggle {
  display: block;
  width: 12px;
  height: 12px;
  margin-right: 6px;
  border: 1px solid #fff;
  border-radius: 50%;
  transition: 0.3s;
  cursor: pointer; }
  .slider-block__toggle:last-of-type {
    margin-right: 0; }

.slider-block__arrow {
  position: absolute;
  top: calc(50% - 26px);
  display: block;
  width: 34px;
  height: 52px;
  background-color: #fff;
  cursor: pointer; }
  .slider-block__arrow::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    margin-top: -8px;
    transform: rotate(45deg);
    display: block;
    width: 16px;
    height: 16px;
    border: 4px solid #585858;
    border-radius: 2px; }
  .slider-block__arrow_left {
    left: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px; }
    .slider-block__arrow_left::before {
      margin-left: -5px;
      border-right-color: transparent;
      border-top-color: transparent; }
  .slider-block__arrow_right {
    right: 0;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px; }
    .slider-block__arrow_right::before {
      margin-left: -10px;
      border-left-color: transparent;
      border-bottom-color: transparent; }

#slide-block-radio-1:checked ~ .slider-block__toggles [for="slide-block-radio-1"] {
  background-color: #fff; }

#slide-block-radio-1:checked ~ .slider-block__list {
  transform: translate(0%); }

#slide-block-radio-2:checked ~ .slider-block__toggles [for="slide-block-radio-2"] {
  background-color: #fff; }

#slide-block-radio-2:checked ~ .slider-block__list {
  transform: translate(-100%); }

#slide-block-radio-3:checked ~ .slider-block__toggles [for="slide-block-radio-3"] {
  background-color: #fff; }

#slide-block-radio-3:checked ~ .slider-block__list {
  transform: translate(-200%); }

#slide-block-radio-4:checked ~ .slider-block__toggles [for="slide-block-radio-4"] {
  background-color: #fff; }

#slide-block-radio-4:checked ~ .slider-block__list {
  transform: translate(-300%); }

.post {
  position: relative;
  width: 100%;
  height: 302px;
  overflow: hidden; }
  .post_big {
    display: -ms-flexbox;
    display: flex; }
  .post_medium {
    display: -ms-flexbox;
    display: flex; }
  .post_large {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
        flex-direction: column;
    height: 600px; }

.post__icon {
  position: absolute;
  top: 36px;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  fill: #fff; }
  .post__icon_red {
    background-color: #ea6060; }
  .post__icon_blue {
    background-color: #4fc6f8; }
  .post__icon_green {
    background-color: #4bc7c7; }

.post_large .post__icon {
  top: 336px; }

.post_big .post__info {
  width: 314px;
  padding-top: 36px;
  padding-left: 62px;
  padding-right: 30px;
  background-color: #fff; }

.post_medium .post__info {
  width: 314px;
  padding-top: 36px;
  padding-left: 62px;
  padding-right: 30px;
  background-color: #fff; }

.post_large .post__info {
  width: 100%;
  height: 240px;
  padding-top: 36px;
  padding-right: 60px;
  padding-left: 68px;
  background-color: #fff; }

.post_large .post__content {
  -ms-flex-order: -1;
      order: -1;
  display: block;
  width: 100%;
  height: 300px; }

.post__title {
  margin: 0;
  width: 210px;
  font-size: 24px;
  font-weight: 500;
  line-height: 35px; }

.post_large .post__title {
  width: 100%; }

.post__time {
  font-size: 15px;
  font-weight: 100; }

.post_large .post__time {
  display: none; }

.post__text {
  margin-top: 25px;
  font-size: 15px;
  font-weight: 100;
  line-height: 24px; }

.post__link {
  text-decoration: none;
  color: #ea6060; }
  .post__link:hover {
    color: #d20808; }

.post__btns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-align: center;
      align-items: center;
  width: 110px;
  background-color: #1f3045; }

.post_large .post__btns {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: start;
      justify-content: flex-start;
  -ms-flex-align: end;
      align-items: flex-end;
  width: 100%;
  height: 60px;
  padding-left: 68px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: #fff; }

.post_small .post__btns,
.post_medium .post__btns {
  position: absolute;
  right: 0;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-pack: center;
      justify-content: center;
  width: 300px;
  height: 302px;
  transform: translate(100%);
  transition: 0.3s; }

.post_small:hover .post__btns,
.post_medium:hover .post__btns {
  transform: translate(0%); }

.post__btn {
  font-size: 16px;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  fill: #fff;
  transition: 0.3s; }
  .post__btn_like:hover {
    color: #ea6060;
    fill: #ea6060; }
  .post__btn_share:hover {
    color: #4fc6f8;
    fill: #4fc6f8; }
  .post__btn_later:hover {
    color: #4fc6f8;
    fill: #4fc6f8; }

.post_small .post__btn,
.post_medium .post__btn {
  margin-left: 30px;
  margin-right: 30px; }

.post__icon-btn {
  display: block;
  margin-bottom: 5px;
  text-align: center; }

.post_large .post__icon-btn {
  display: inline; }

.post_large .post__btn {
  margin-right: 30px;
  color: #475055;
  fill: #56ccc8; }

.post__content {
  width: 504px;
  background-color: #787878; }

.post_small .post__content,
.post_medium .post__content {
  width: 300px;
  height: 302px;
  background-color: #787878; }

.calendar-block {
  width: 100%;
  height: 300px;
  color: #fff; }

.calendar-block__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  height: 85px;
  padding-left: 22px;
  padding-right: 22px;
  background-color: #152840; }

.calendar-block__previous,
.calendar-block__next {
  position: relative;
  text-decoration: none;
  color: #fff;
  transition: 0.3s; }
  .calendar-block__previous::before,
  .calendar-block__next::before {
    position: absolute;
    top: 50%;
    content: '';
    width: 6px;
    height: 6px; }
  .calendar-block__previous:hover,
  .calendar-block__next:hover {
    color: #56ccc8; }
    .calendar-block__previous:hover:before,
    .calendar-block__next:hover:before {
      border-color: #56ccc8; }

.calendar-block__previous {
  padding-left: 16px; }
  .calendar-block__previous::before {
    left: 0;
    transform: rotate(-45deg) translateY(-50%);
    border-top: 2px solid #fff;
    border-left: 2px solid #fff; }

.calendar-block__next {
  padding-right: 16px; }
  .calendar-block__next::before {
    right: 0;
    transform: rotate(45deg) translateY(-50%);
    border-top: 2px solid #fff;
    border-right: 2px solid #fff; }

.calendar-block__list {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
      flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  height: 215px; }

.calendar-block__item {
  width: 43px;
  height: 43px;
  line-height: 42px;
  border-top: 1px solid #53637c;
  border-right: 1px solid #53637c;
  font-size: 15px;
  font-weight: 400;
  text-align: center;
  vertical-align: middle;
  background-color: #152840;
  transition: 0.3s; }
  .calendar-block__item_day:nth-child(7n-1), .calendar-block__item_day:nth-child(7n) {
    background-color: #324864; }
  .calendar-block__item:nth-child(7n) {
    height: 43px;
    width: 42px;
    border-top: 1px solid #53637c;
    border-right: none; }
  .calendar-block__item_day {
    background-color: #263a54;
    cursor: pointer; }
    .calendar-block__item_day:hover {
      background-color: #56ccc8; }
  .calendar-block__item_current {
    background-color: #ea6060; }

.news-feed-block {
  width: 100%;
  height: 535px;
  background-color: #fff; }

.news-feed-block__radio {
  display: none; }

.news-feed-block__header {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 65px;
  padding-left: 20px;
  padding-right: 20px;
  color: #475055;
  border-bottom: 1px solid #dde2e4; }

.news-feed-block__title {
  font-size: 24px;
  font-weight: 500; }

.news-feed-block__toggles {
  display: -ms-flexbox;
  display: flex;
  margin-left: auto; }

.news-feed-block__toggle {
  display: block;
  width: 13px;
  height: 13px;
  margin-left: 6px;
  border: 1px solid #a3abaf;
  border-radius: 50%;
  cursor: pointer;
  transition: 0.3s; }

#news-feed-block-radio-1:checked ~ .news-feed-block__header [for="news-feed-block-radio-1"] {
  background-color: #a3abaf; }

#news-feed-block-radio-1:checked ~ .news-feed-block__wrapper .news-feed-block__list {
  transform: translateY(0px); }

#news-feed-block-radio-2:checked ~ .news-feed-block__header [for="news-feed-block-radio-2"] {
  background-color: #a3abaf; }

#news-feed-block-radio-2:checked ~ .news-feed-block__wrapper .news-feed-block__list {
  transform: translateY(-450px); }

#news-feed-block-radio-3:checked ~ .news-feed-block__header [for="news-feed-block-radio-3"] {
  background-color: #a3abaf; }

#news-feed-block-radio-3:checked ~ .news-feed-block__wrapper .news-feed-block__list {
  transform: translateY(-900px); }

.news-feed-block__wrapper {
  overflow: hidden; }

.news-feed-block__list {
  list-style: none;
  margin: auto;
  padding: 0;
  height: 470px;
  padding-top: 10px;
  padding-bottom: 10px;
  transition: 0.3s; }

.news-feed-block__item {
  display: -ms-flexbox;
  display: flex;
  height: 90px;
  padding-left: 17px;
  padding-right: 15px;
  padding-top: 10px;
  padding: 10px; }

.news-feed-block__image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 15px;
  background-color: #787878; }

.news-feed-block__wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column; }

.news-feed-block__link {
  text-decoration: none;
  color: #475055; }

.news-feed-block__text {
  font-size: 16px;
  font-weight: 500; }

.news-feed-block__time {
  margin-top: auto;
  font-size: 14px;
  font-weight: 100; }

.question-block {
  width: 100%;
  height: 382px;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 25px;
  padding-bottom: 25px;
  background-color: #fff; }

.question-block__title {
  font-size: 24px;
  font-weight: 500;
  padding-bottom: 20px; }

.question-block__input {
  width: 100%;
  height: 39px;
  line-height: 37px;
  margin-bottom: 18px;
  padding-left: 18px;
  padding-right: 18px;
  border: 1px solid #dde2e4;
  border-radius: 3px; }
  .question-block__input_textarea {
    height: 107px;
    resize: none; }

.question-block__btn {
  width: 97px;
  height: 39px;
  line-height: 39px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  background-color: #ea6060;
  border-radius: 3px;
  border: none;
  outline: none;
  transition: 0.3s; }
  .question-block__btn:hover {
    box-shadow: 0 3px 10px 0 rgba(255, 255, 255, 0.3) inset; }
  .question-block__btn:active {
    box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.3) inset; }

.quote-block {
  position: relative;
  width: 100%;
  height: 150px;
  padding-top: 33px;
  padding-left: 85px;
  padding-right: 95px;
  background-color: #fff; }

.quote-block__icon {
  position: absolute;
  display: block;
  top: 33px;
  left: 0;
  width: 40px;
  height: 40px;
  line-height: 40px;
  text-align: center;
  vertical-align: middle;
  fill: #fff;
  background-color: #4bc7c7; }

.quote-block__item {
  position: relative;
  display: block;
  padding-left: 12px;
  font-size: 24px;
  font-weight: 300;
  line-height: 30px;
  font-style: italic; }
  .quote-block__item:before {
    position: absolute;
    left: 0;
    display: block; }
  .quote-block__item:after {
    margin-left: 6px; }

.tabs-block {
  width: 100%;
  height: 292px; }

.tabs-block__radio {
  display: none; }

.tabs-block__tabs {
  display: -ms-flexbox;
  display: flex; }

.tabs-block__tab {
  display: block;
  height: 47px;
  -ms-flex-positive: 1;
      flex-grow: 1;
  line-height: 47px;
  text-align: center;
  background-color: #c5cdd1;
  margin-right: 1px;
  color: #fff;
  cursor: pointer;
  transition: 1s; }
  .tabs-block__tab:last-of-type {
    margin-right: 0; }

.tabs-block__item {
  display: none;
  width: 100%;
  height: 245px;
  background-color: #fff;
  transition: 0.5s; }

#tabs-block-radio-1:checked ~ .tabs-block__tabs [for="tabs-block-radio-1"] {
  color: #475055;
  background-color: #fff; }

#tabs-block-radio-1:checked ~ .tabs-block__list .tabs-block__item_1 {
  display: block; }

#tabs-block-radio-2:checked ~ .tabs-block__tabs [for="tabs-block-radio-2"] {
  color: #475055;
  background-color: #fff; }

#tabs-block-radio-2:checked ~ .tabs-block__list .tabs-block__item_2 {
  display: block; }

#tabs-block-radio-3:checked ~ .tabs-block__tabs [for="tabs-block-radio-3"] {
  color: #475055;
  background-color: #fff; }

#tabs-block-radio-3:checked ~ .tabs-block__list .tabs-block__item_3 {
  display: block; }

#tabs-block-radio-4:checked ~ .tabs-block__tabs [for="tabs-block-radio-4"] {
  color: #475055;
  background-color: #fff; }

#tabs-block-radio-4:checked ~ .tabs-block__list .tabs-block__item_4 {
  display: block; }

#tabs-block-radio-5:checked ~ .tabs-block__tabs [for="tabs-block-radio-5"] {
  color: #475055;
  background-color: #fff; }

#tabs-block-radio-5:checked ~ .tabs-block__list .tabs-block__item_5 {
  display: block; }

.tabs-team {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  width: 100%;
  height: 245px;
  padding-top: 37px;
  padding-left: 29px;
  padding-right: 29px;
  padding-bottom: 30px;
  color: #475055; }

.tabs-team__item {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  width: 250px; }

.tabs-team__member {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  margin-bottom: 20px; }

.tabs-team__wrapper {
  margin-left: 25px; }

.tabs-team__name {
  display: block;
  font-size: 18px;
  font-weight: 500;
  line-height: 24px; }

.tabs-team__job {
  font-size: 14px;
  font-weight: 100;
  line-height: 24px;
  color: #a3abaf; }

.tabs-team__image {
  width: 55px;
  height: 55px;
  background-color: #787878; }

.tabs-team__link {
  display: block;
  margin-top: auto;
  color: #72d1f9;
  text-decoration: none; }
  .tabs-team__link::before {
    content: '@';
    display: inline; }

.twitter-feed-block {
  width: 100%;
  height: 435px;
  color: #fff;
  background-color: #4fc6f8; }

.twitter-feed-block__author {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  height: 85px;
  padding-left: 30px;
  padding-right: 25px;
  fill: #fff;
  text-decoration: none;
  color: #fff;
  transition: 0.3s; }

.twitter-feed-block__name {
  margin-right: 10px;
  font-weight: 700; }

.twitter-feed-block__nickname {
  font-weight: 300; }

.twitter-feed-block__icon-follow {
  margin-left: auto; }

.twitter-feed-block__list {
  list-style: none;
  margin: auto;
  padding: 0; }

.twitter-feed-block__post {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 175px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 45px;
  border-top: 1px solid #7bd4fa;
  font-weight: 300;
  text-decoration: none;
  color: #fff;
  transition: 0.3s; }

.twitter-feed-block__post:hover,
.twitter-feed-block__author:hover {
  background-color: rgba(255, 255, 255, 0.2); }

.twitter-feed-block__link {
  text-decoration: none;
  font-weight: 700;
  color: #fff; }

.twitter-feed-block__time {
  margin-top: auto; }

.view-stories-block {
  width: 100%;
  height: 300px; }

.view-stories-block__link {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
      flex-direction: column;
  height: 300px;
  color: #fff;
  text-decoration: none;
  padding-top: 50px;
  padding-left: 65px;
  padding-left: 65px;
  padding-bottom: 48px;
  fill: #fff;
  background-color: #ea6060;
  transition: 0.3s; }

.view-stories-block__link:hover {
  background-color: #56ccc8; }

.view-stories-block__text {
  display: block;
  width: 150px;
  line-height: 46px;
  font-size: 36px;
  font-weight: 300;
  text-transform: uppercase; }

.view-stories-block__icon {
  display: block;
  margin-top: auto; }

.search {
  height: 60px; }

.search__btn {
  line-height: 60px;
  padding-left: 22px;
  padding-right: 22px;
  vertical-align: middle;
  fill: #b2b9bd;
  transition: 0.3s; }
  .search__btn:hover {
    fill: #56ccc8; }

.social {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: center;
      justify-content: center;
  width: 120px;
  height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  border-left: 1px solid #dde2e4;
  border-right: 1px solid #dde2e4; }

.social__item {
  line-height: 60px;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  fill: #b2b9bd;
  transition: 0.3s; }
  .social__item:hover {
    fill: #56ccc8; }

.login {
  width: 62px;
  height: 60px; }

.login__btn {
  display: block;
  line-height: 60px;
  text-align: center;
  vertical-align: middle;
  fill: #b2b9bd;
  transition: 0.3s; }
  .login__btn:hover {
    fill: #56ccc8; }
