.icon{
    &_search{
        width: 16px;
        height: 16px;
        fill: #b2b9bd;
    }
    &_facebook{
        width: 8px;
        height: 17px;
    }
    &_facebook_big{
        width: 20px;
        height: 42px;
    }
    &_twitter{
        width: 16px;
        height: 13px;
    }
    &_twitter_big{
        width: 42px;
        height: 34px;
    }
    &_google-plus{
        width: 16px;
        height: 16px;
    }
    &_rss{
        width: 16px;
        height: 16px;
    }
    &_pinterest{
        width: 13px;
        height: 17px;
    }
    &_linkedin{
        width: 15px;
        height: 16px;
    }
    &_login{
        width: 16px;
        height: 16px;
        fill: #b2b9bd;
    }
    &_follow{
        width: 24px;
        height: 24px;
    }
    &_home{
        width: 25px;
        height: 22px;
    }
    &_shop{
        width: 22px;
        height: 22px;
    }
    &_note{
        width: 23px;
        height: 23px;
    }
    &_users{
        width: 26px;
        height: 16px;
    }
    &_trophy{
        width: 26px;
        height: 22px;
    }
    &_info{
        width: 24px;
        height: 24px;
    }
    &_email{
        width: 24px;
        height: 16px;
    }
    &_phone{
        width: 24px;
        height: 24px;
    }
    &_pointer{
        width: 18px;
        height: 24px;
    }
    &_arrow{
        width: 20px;
        height: 20px;
        fill-rule: evenodd;
    }
}
