.column{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 928px;
    &_2{
        width: 457px;
    }
    &_3{
        width: 300px;
    }
    &_3-2{
        width: 614px;
    }
    &_4{
        width: 221px;
    }
}
