.facebook-block{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 150px;
    padding-top: 24px;
    padding-left: 22px;
    padding-right: 16px;
    padding-bottom: 15px;
    background-color: #4d6baa;
    color: #fff;
    font-size: 16px;
}
.facebook-block__icon{
    margin-left: 6px;
    fill: #fff;
}
.facebook-block__follow{
    display: flex;
    align-items: center;
    margin-top: auto;
    height: 24px;
}
.facebook-block__follow-btn{
    text-decoration: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    color: #fff;
    fill: #fff;
}
.facebook-block__icon-follow{
    margin-left: 12px;
    height: 24px;
}
