.submenu{
    list-style: none;
    margin: auto;
    padding: 0;
    &_1{
        width: 228px;
        font-size: 16px;
        background-color: #152840;
    }
}
.submenu__item{
    &_1{
        padding-left: 32px;
        padding-right: 20px;
        padding-top: 15px;
        padding-bottom: 15px;
        border-bottom: 1px solid #445e78;
        background-color: #152840;
        &:last-of-type{
            border: none;
        }
        &:hover{
            background-color: #263a54;
        }
    }
}
.submenu__link{
    &_1{
        display: flex;
        align-items: center;
        vertical-align: middle;
        height: 40px;
        line-height: 40px;
        text-decoration: none;
        color: #56ccc8;
        fill: #56ccc8;
    }
    &_2{
        display: block;
        height: 30px;
        line-height: 30px;
        text-decoration: none;
        color: #fff;
    }
}
.submenu__icon{
    margin-left: auto;
    line-height: 40px;
    vertical-align: middle;
}
