.twitter-feed-block{
    width: 100%;
    height: 435px;
    color: #fff;
    background-color: #4fc6f8;
}
.twitter-feed-block__author{
    display: flex;
    align-items: center;
    height: 85px;
    padding-left: 30px;
    padding-right: 25px;
    fill: #fff;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}
.twitter-feed-block__name{
    margin-right: 10px;
    font-weight: 700;
}
.twitter-feed-block__nickname{
    font-weight: 300;
}
.twitter-feed-block__icon-follow{
    margin-left: auto;
}
.twitter-feed-block__list{
    list-style: none;
    margin: auto;
    padding: 0;
}
.twitter-feed-block__post{
    display: flex;
    flex-direction: column;
    height: 175px;
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 30px;
    padding-right: 45px;
    border-top: 1px solid #7bd4fa;
    font-weight: 300;
    text-decoration: none;
    color: #fff;
    transition: 0.3s;
}
.twitter-feed-block__post:hover,
.twitter-feed-block__author:hover{
    background-color: rgba(255, 255, 255, 0.2);
}
.twitter-feed-block__link{
    text-decoration: none;
    font-weight: 700;
    color: #fff;
}
.twitter-feed-block__time{
    margin-top: auto;
}
