.view-stories-block{
    width: 100%;
    height: 300px;
}
.view-stories-block__link{
    display: flex;
    flex-direction: column;
    height: 300px;
    color: #fff;
    text-decoration: none;
    padding-top: 50px;
    padding-left: 65px;
    padding-left: 65px;
    padding-bottom: 48px;
    fill: #fff;
    background-color: #ea6060;
    transition: 0.3s;
}
.view-stories-block__link:hover{
    background-color: #56ccc8;
}
.view-stories-block__text{
    display: block;
    width: 150px;
    line-height: 46px;
    font-size: 36px;
    font-weight: 300;
    text-transform: uppercase;
}
.view-stories-block__icon{
    display: block;
    margin-top: auto;
}
